@using EntityLayer.Concrate
@model List<Category>

@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCategoryList</title>
</head>
<body>
<p>
        <a asp-action="AddCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            Id
            </th>
            <th>
              Ad
            </th>
            <th>
Durum
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.CategoryStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
